#mask {
    display: none;
    transition: 0.8s;
    &.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #000;
        opacity: 0.3;
        z-index: 2;
        cursor: pointer;
    }
}
