//headerの回り込み防止
main {
    padding-top: 150px;
    @include sp {
        padding-top: 120px;
    }
}
//pcのmax-width:1080pxを設定
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    @include sp {
        padding: 0 20px;
    }
}
.sec {
    margin-top: 50px;
    text-align: center;
    &__ttl {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: solid 3px $mainColor;
        font-family: $designFont;
        font-size: 40px;
        @include sp {
            font-size: 26px;
        }
    }
    &__txt {
        margin-top: 30px;
        text-align: justify;
        line-height: 1.5;
        @include sp {
            margin: 30px 20px 0;
        }
    }
}
//パンくずリスト
.breadcrumbs {
    margin: 30px 0 0 30px;
    @include sp {
        margin: 10px 0 0 10px;
    }
    &__list {
        display: inline-block;
        font-size: 16px;
        line-height: normal;
    }
    &__link {
        color: $mainColor;
        transition: 0.8s;
        font-size: 16px;
        &:hover {
            color: $subColor;
            opacity: 0.6;
            transition: 0.8s;
        }
    }
}
//スマホのみの改行
.sp-on {
    display: none;
    @include sp {
        display: block;
    }
}