#top {
    .start {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        background-color: #fff;
        &__txt {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2000;
        }
    }
    .area {
        padding: 80px;
        margin-top: 80px;
        width: 100vw;
        background: $subColor;
        @include sp {
            padding: 50px;
            margin-top: 50px;
        }
        &__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 80%;
            @include sp {
                display: block;
            }
        }
        &__list {
            width: 25%;
            @include sp {
                margin-top: 50px;
                width: 100%;
                max-width: 300px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        &__image {
            margin: 0 auto;
            width: 150px;
            height: 150px;
            border-radius: 100px;
            background-color: #fff;
        }
        &__ttl {
            margin-top: 50px;
            text-align: center;
            font-family: $designFont;
            font-size: 30px;
            @include sp {
                margin-top: 30px;
                font-size: 26px;
            }
        }
        &__txt {
            margin-top: 20px;
            text-align: justify;
        }
    }
    .fade-in {
        opacity: 0;
        transition-duration: 500ms;
        transition-property: opacity, transform;
    }
    .fade-in-up {
        transform: translate(0, 50px);
    }
    .fade-in-down {
        transform: translate(0, -50px);
    }
      
    .fade-in-left {
        transform: translate(-50px, 0);
    }
      
    .fade-in-right {
        transform: translate(50px, 0);
    }
    .scroll-in {
        opacity: 1;
        transform: translate(0, 0);
      }
}