#top {
    .area {
        padding: 80px;
        margin-top: 80px;
        width: 100vw;
        background: $subColor;
        &__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 80%;
        }
        &__list {
            width: 25%;
        }
        &__image {
            margin: 0 auto;
            width: 150px;
            height: 150px;
            border-radius: 100px;
            background-color: #fff;
        }
        &__ttl {
            margin-top: 50px;
            text-align: center;
            font-family: $designFont;
            font-size: 30px;
        }
        &__txt {
            margin-top: 20px;
            text-align: justify;
        }
    }
}